#header {
    height: 125px;
    background: #fff;
    position: fixed;
    header: 0;
    left: 0;
    width: 100%;
}

#header h1#logo {
    float: left;
    margin: 0;
}

#header h1#logo a {
    background: url(../images/mypic.png) no-repeat top left;
    width: 120px;
    height: 100px;
    margin: 10px;
    display: block;
    text-indent: -9999px;
}

#header .color {
    display: block;
    height: 6px;
    position: absolute;
    top: 100%;
    width: 100%;
}

#header #menu {float:right;padding:80px 80px 0 0;}

#container {padding:150px 20px 20px 20px;}

.color {
    background-color: rgba(0, 150, 255, 0.9) !important;
}

.shadow {
    background: url(../images/top-shadow.png) repeat-x;
    height: 350px;
    position: fixed;
    top: 680px;
    width: 100%;
}

#footer {
    height: 50px;
    background: #fff;
    position: absolute;
	bottom: 10px;
	float: left;
    width: 100%;
}

.experiment {
    cursor: pointer;
    outline: 1px lightgray solid;
    padding: 5px;
    margin: 5px;
}