<h2>My Certifications:</h2>
<p>Please find below my Certifications</p>
<div>
	<ul>
		<li>Certified Project Management Professional (PMP) since 2016 (License # SJ352EV9Z3XP)</li>
		<li><a href="http://aws.amazon.com/verification" target="_blank">Amazon Web Services - Certified Solution Architect - Associate since 2017</a> (License # N6VY3HX12BQ118GR)</li>
		<li><a href="http://aws.amazon.com/verification" target="_blank">Amazon Web Services - Certified Developer - Associate since 2017</a> (License # CDPCNVFK2B4EQ9CX)</li>
		<li>Sun Certified Java Programmer since 2009</li>
		<li>Chartered Financial Analyst (CFA) - Level 1 Complete, Level 2 candidate (CFA Institute ID: 6769412)</li>
		<li>Coursera certified on Machine Learning since 2016 (License # TQCCML5C2T4W)</li>
	</ul>
</div>