<h2>About Me:</h2>
<p>Hi, my name is Rathnam Makam. Welcome to my site!</p>
<p>I am a passionate engineer with love to design and build applications using various technologies. As every engineer, I would like to optimize and bring efficiency in the tasks I own/do. As part of my professional career, I am interested to solve business problems thru efficient solutions built using emerging technologies related to App Development, Cloud Computing and Machine Learning.</p>
<p>During my professional journey so far, I got a chance to build scalable products at Oracle and deliver innovative solutions to popular tech companies like Yahoo, Getty Images, Veritas, Riverbed etc.</p>
<p>Physics and Astronomy are my favorite topics. Brief History of Time, Universe in a Nutshell are my favorite books. I adore Albert Einstein, Elon Musk. Dan Brown is my favorite author.</p> 
<p>Teaching & Yoga are my hobbies. </p>
<br/>
<h2>Professional Summary:</h2>
<p>I did my Bachelors degree in Engineering from Jawaharlal Nehru Technological University Campus, Hyderabad, India in 2007. Bachelors in Human Psychology in 2009. PG Diploma in AI/ML from UT Austin in 2020. </p>
<p>I am working as a software professional since 2007. I am also a certified PMP with solid experience in managing technology and people. </p>
<p>I am currently based out of Dallas, Texas, USA working full time for IT Convergence as a Senior Manager and Solutions (Cloud, AI/ML) Architect. </p>

<h3>You can find me at below channels:</h3>
<b>Linked In:</b> <a href="https://www.linkedin.com/in/rathnammakam">https://www.linkedin.com/in/rathnammakam</a><br/>
<b>Docker:</b> <a href="https://hub.docker.com/u/rathnammakam">https://hub.docker.com/u/rathnammakam</a><br/>
<b>Kaggle:</b> <a href="https://www.kaggle.com/rathnammakam">https://www.kaggle.com/rathnammakam</a><br/>
