<h2>About Me:</h2>
<p>Hi, My name is Rathnam Makam. Welcome to my site.</p>
<p>I am a passionate engineer with love to design and build applications using various technologies. As part of my professional career, I am interested to build user friendly applications for voice, content and visualizations.</p>
<p>I like to explore Physics and Astronomy. Brief History of Time, Universe in a Nutshell are my favorite books. I adore Albert Einstein, Elon Musk.</p> 
<p>My hobbies include programming, teaching, playing volley ball, and stargazing.</p>
