<h2>About Me:</h2>
<p>Hi, my name is Rathnam Makam. Welcome to my site!</p>
<p>I am a passionate engineer with love to design and build applications using various technologies. As every engineer, I would like to optimize and bring efficiency in the tasks I own/do. As part of my professional career, I am interested to build user friendly applications for voice, content and visualizations.</p>
<p>I like to explore Physics and Astronomy. Brief History of Time, Universe in a Nutshell are my favorite books. I adore Albert Einstein, Elon Musk. Dan Brown is my favorite author.</p> 
<p>My hobbies include programming, teaching, playing volley ball, and stargazing.</p>
<br/>
<h2>Professional Summary:</h2>
<p>I did my Bachelors from Jawaharlal Nehru Technological University Campus, Hyderabad, India in 2007.</p>
<p>I am working as a software professional since 2007. My experience is centered around wide range of Oracle products, Java Platforms and Amazon Web Services. My areas of specialization include Content & Imaging Solutions, reporting and application development. I am also a certified PMP with reasonable experience in managing technology and people. So far, I worked for Commvault Systems, Oracle Corporation.</p>
<p>I am currently based out of Dallas, Texas, USA working full time for IT Convergence as a Managing Principal Consultant.</p>

<h3>You can find me at below channels:</h3>
Linked In: <a href="https://www.linkedin.com/in/rathnammakam">https://www.linkedin.com/in/rathnammakam</a>
Docker: <a href="https://hub.docker.com/u/rathnammakam">https://hub.docker.com/u/rathnammakam</a>
Kaggle: <a href="https://www.kaggle.com/rathnammakam">https://www.kaggle.com/rathnammakam</a>
