<h2>I have experience with the below skills:</h2>
<div>
	<ul>
		<li>Solution Architecture, application development, product development</li>
		<li>Project management, resource management, stakeholder management</li>
		<li>AI & ML: Python, EDA, Neural Nets, Tensor Flow, Rapid Miner</li>
		<li>GenAI: LLMs, Prompt Engineering, RAG, Vector DBs, Ollama, LangChain/LangGraph, Agentic frameworks</li>
		<li>AI Solutions: Doc Processing, Chatbots, Alexa Skills, OCR, Text-to-SQL Analytics, Forecasting, Recommendations, Similarity Search, Sentiment Analysis</li>
		<li>AWS: EC2, S3, Lambda, DynamoDB, API Gateway, IAM, Lex, LBs</li>
		<li>Azure: ACR, AKS, AAD, Storage Accounts, Functions, Azure OpenAI Studio, Document Intelligence, Cognitive Services, Application Gateway</li>
		<li>Infrastructure (Compute, Network, OS, HA, DR), Databases (SQL/No-SQL/Vector), Applications</li>
		<li>Programming: Java, Python, PLSQL, Java script, Node, React, Perl, Shell </li>
		<li>Cloud Platforms: AWS, Azure, OCI</li>
		<li>Data: ETL (Informatica), ELT (ODI), Reporting (OBIEE, Power BI), Non-SQL(DynamoDB, MongoDB)</li>
		<li>Security: SSL, Firewalls, WAF, SSO/MFA/OpenID, SAML, OAuth, Azure AD, Azure B2C </li>
		<li>Domains: Healthcare, Digital Media, Finance, Manufacturing</li>
		<li>Misc: DevOps (Azure, Jenkins), Automation (Ansible, Terraform), Kubernetes (AKS, OKE), Serverless (Lambda, Functions), Web services (SOAP, REST, GraphQL), Content Management/Imaging</li>
	</ul>
</div>
