<h2>I have experience with the below skills:</h2>
<div>
	<ul>
		<li>Oracle Fusion Applications/Cloud, Oracle Fusion Middleware, Oracle Apps R12/11i, CloudIO Platform</li>
		<li>Oracle ADF 11g, Web Center 11g (Content and Imaging), Spring, Java, Web Services, PLSQL</li>
		<li>Perl, Shell, HTML, XML, WLST, CSS, Angular JS</li>
		<li>WebLogic, Apache, Tomcat, IIS</li>
		<li>Oracle EBS: HRMS, AP, OM, GL, Inventory, Projects, Purchasing, Teleservices, Service Contracts</li>
		<li>AP Invoice Automation solution, Inspyrus, FlexiCapture from Abbyy</li>
		<li>GIT, SVN, Maven, SonarQube, Okta, LDAP/AD, IDM</li>
		<li>Amazon Web Services (EC2, VPC, ELB, Lambda, RDS), Alexa Skills Kit</li>
	</ul>
</div>